<div class="page" data-name="actuaria">
  <!-- Fixed/Dynamic Navbar -->
  <div class="navbar">
    <div class="navbar-inner sliding">
      <div class="left">
        <a class="link back">
          <i class="icon icon-back"></i>
          <span class="ios-only">Back</span>
        </a>
      </div>
      <div class="title">Sistema Integral para Infracciones</div>
    </div>
  </div>
   <div class="page-content page-content2">
    <div class="block">

    <div class="center">
        <h3 class="white">Indique lo que se pide</h3>
    </div>

     <div class="row3">
<select name="Subject" id="_causa" onchange="salta(this.form)">
<option selected> Nombre
<option value="Aceves Ceja Anuar  345793">Aceves Ceja Anuar 
<option value="Alarcon Acosta Betsie  342350">Alarcón Acosta Betsie 
<option value="Alpizar Morales Diana  352798">Alpízar Morales Diana 
<option value="Álvarez Guillen Kenya 342286">Álvarez Guillén Kenya 
<option value="Armora Saenger Andrea 362085">Armora Saenger Andrea
<option value="Barrera Pinzon Odeth  233345">Barrera Pinzón Odeth
<option value="Beltran Cardoso Miguel  345805">Beltrán Cardoso Miguel
<option value="Cervantes Paez Jose 317667">Cervantes Páez José
<option value="Clairin Bermeo Rene 339223">Clairin Berméo René
<option value="Cornejo Chio Juan 352402">Cornejo Chio Juan
<option value="Costilla Garcia Luis  358367">Costilla García Luis
<option value="Duran Moreno Ximena 351398">Durán Moreno Ximena
<option value="Garcia Pinacho Kevin  351210">García Pinacho Kevin
<option value="Juarez Castro Jorge 346754">Juárez Castro Jorge
<option value="Marcos Bertheau Luis  349524">Marcos Bertheau Luis
<option value="Medina Ramirez Jose 335608">Medina Ramírez José
<option value="Osorio Moreno María 323275">Osorio Moreno María
<option value="Paniagua Marquez Luis 355443">Paniagua Márquez Luis
<option value="Quezada Aragon Acatl  358169">Quezada Aragón Acatl
<option value="Ramírez Bezares Andrea  345676">Ramírez Bezares Andrea
<option value="Reyes Beauregard Daniela  341702">Reyes Beauregard Daniela
<option value="Reyes Evangelista Ricardo 351763">Reyes Evangelista Ricardo
<option value="Valdespino Rodriguez Hector 358316">Valdespino Rodríguez Héctor


</select>
</div>
<br>

          


        <div class="row">
          <button class="col button button button-raised button-fill red" onclick="app.placas2()"><i class="app-icon icon-user-plus">&#xe801;</i>enviar</button>
        </div>
    
    </div>
  </div>
</div>

</div>